body
{
	background-color:#E0E0E0;
	font-family: 'Lobster', cursive;
	margin:0;
	padding:0;
	width:100%;
}

.header
{
	text-align:center;
	background-color:black;
	font-size:60px;
	padding:10px 0;
	letter-spacing:1px;
	border-bottom:1px solid #E0E0E0;
	color:#E0E0E0;
	width:100%;
	
}

.nav
{
	background-color:black;
	text-align:center;
	padding:12px 0;
	font-size:20px;
	letter-spacing:1px;
	height:40px;
	color:#E0E0E0;
	min-width:680px;
	width:100%;
}


ul > li 
{
	float:left;
	width:150px;
}

ul 
{
	display:inline-block;
	padding:0px;
	margin:0px;
	line-height:200%;
}

ul a 
{
	text-decoration:none;
	color:#E0E0E0;
	display:block;
}

.header a:hover
{
	color:white;
}

ul > li:hover > a 
{
	color:white;

}

.content
{
	width:1200px;
	font-size:30px;
	margin-left:auto;
	margin-right:auto;
	text-align:justify;

}

.header a
{
	decoration:none;
	color:#E0E0E0;
	
}

.sticky
{
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:100;
}

.socialdivs
{
	text-align:center;
	width:480px;
	margin-left:auto;
	margin-right:auto;
	min-width:420px;
}

.socials
{
	width:100%;
	background-color:black;
	text-align:center;
}

.socialtile
{
	float:left;
	width:140px;
	height:120px;
	padding:10px;
	display:block;
	border-bottom:2px solid black;
	color:#E0E0E0;
	font-size:55px;
	margin-top:60px;
}

.socialtile:hover
{
	color:white;
	border-bottom-color:white;
}

.socialtile a:hover
{
	color:white;
}

.socialdivs a 
{
	text-decoration:none;
	color:#E0E0E0;
}