body
{
	background-color:#E0E0E0;
	font-family: 'Lobster', cursive;
	margin:0;
	padding:0;
	width:100%;
}

header
{
	text-align:center;
	background-color:black;
	font-size:60px;
	padding:10px 0;
	letter-spacing:1px;
	border-bottom:1px solid #E0E0E0;
	width:100%;	
}


header a
{
	color:#E0E0E0;	
}


header a:hover,li a:hover
{
	color:white;
}


nav
{
	background-color:black;
	text-align:center;
	padding:12px 0;
	font-size:20px;
	letter-spacing:1px;
	height:40px;
	color:#E0E0E0;
	min-width:680px;
	width:100%;
}


ul li 
{
	display:inline-block;
	width:150px;
}


ul 
{
	padding:0px;
	margin:0px;
	line-height:200%;
}


ul a,.socialtile a ,.tile a
{
	text-decoration:none;
	color:#E0E0E0;
	display:block;
}


.socialtile a:hover
{
	color:white;
	border-bottom:3px solid white;
}


.content
{
	width:1000px;
	font-size:30px;
	margin-left:auto;
	margin-right:auto;
	text-align:justify;
	min-height:100%;
    padding:0 10px 30px 10px;

}


.sticky
{
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:100;
}


footer
{
	width:100%;
	background-color:black;
	color:#E0E0E0;
	height:200px;
	text-align:center;
}


.socialtile
{
	display:inline-block;
	height:100%;
	width:155px;
	font-size:55px;
	margin-top;20px;
	line-height:350%;
}

   
.active
{
    text-decoration: underline;  
}


body#contact
{
    background-color: black; 
}


.container
{
  
    margin: 100px auto 0 auto;
    width: 900px;
}


.tile
{
    display: inline-block;
    width: 300px;
    height: 300px;
    text-align: center;
    line-height:334%;
    font-size: 90px;
    color: #E0E0E0;
    
}


.tile a:hover
{
    color: black;
    border-radius: 5px;
    background-color: #E0E0E0
}